<!DOCTYPE html>
<html>
<head>
	<title>New tasks form</title>
</head>
<body>
	<h1>Pls add new tasks if you are stupid enough</h1>
	<form action ="/create_task" method="POST">
		<input type="text" name="new_task_1" placeholder="first new task">
<!-- 		<input type="text" name="new_task_2" placeholder="second new task">
		<input type="text" name="new_task_3" placeholder="third new task"> -->
		
	  <button type="submit"> Add tasks</button>
	</form>

</body>
</html>