/*--------------------------------------------------------*/
/*------------------All-------------------------------*/
/*--------------------------------------------------------*/
* {
	font-family: Roboto;
}



/*--------------------------------------------------------*/
/*------------------Image-------------------------------*/
/*--------------------------------------------------------*/
.arya_profile, .needle_profile {
	width:5%;
	height:5%;
}






/*--------------------------------------------------------*/
/*------------------Header-------------------------------*/
/*--------------------------------------------------------*/

.header_status {
	padding:15px;
	margin-top:0;
}

.header_status_text {
	position:relative;
	top:20px;
	left:10px;
}


/*--------------------------------------------------------*/
/*------------------Panels-------------------------------*/
/*--------------------------------------------------------*/

.panel-default {
	background-color: #F5F5F5;
}

.panel-body {
	background-color: #fff;
	margin:0 20px 30px 20px;
	border-radius: 5%
}

.bounty_stat {
	box-shadow: -1px 3px 0px -2.9px rgba(158,146,158,1);
}


