<!DOCTYPE html>
<html>
<head>
	<title>hahaha</title>
</head>
<body>
	<% if Date.today.wednesday? %>
	<p>
		Izzy Ironside is <strong>NOT</strong>
		a fan of Tuesdays like today.
	</p>
	<% end %>
	
	<p>
		Izzy Ironside was born on 
		<%= Date.today %>.
	</p>

	<%=@happy %>


</body>
</html>