<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1> haha <%= @username%> </h1>

	
<!-- 	<% @username.each do |x,y| %>
		<p> <%="key: #{x} and value #{y}" %> </p>
	<% end %> -->

</body>
</html>