<h1>Product Details</h1>


<ul>
	
	<li> Title:
		<%= @current_product.title %>
	</li>


	<li> Description:
		<%= @current_product.description%>
	</li>

	<li> Deadline:
		<%= @current_product.deadline%>
	</li>




</ul>

<%= link_to("Home Page", "/users") %>