<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p> <%= @display %> </p>
	<form action="/save" method="POST">
	<button type="submit"  name="saved" value = "<%=@display%>" placeholders = "12"> Save</button>
		

 	</form>
</body>
</html>