<h1>Time Entries List</h1>









<ul>
	<% @my_entries.each do |entry| %>

		<li>

			<%= entry.hours %> h	
			<%= entry.minutes %> m -
			<%= entry.date %>


		 	<%= link_to("Edit", "/projects/#{@my_project.id}/time_entries/#{entry.id}/edit") %>
		</li>

	<% end %>
	


</ul>