
	<h1> Welcome to this timetracking tool</h1>

	<%= render("partials/sign_up") %>
	<!-- internal -->

	<p> Ironhack powered</p>

	<!-- <img src="/assets/fargo.gif" alt="fargo image">     -->
<!-- public url -->

	<%= image_tag "fargo.gif" %>

	<a href="/contact"></a>

