<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1> Welcome to this timetracking tool</h1>

	<p> Ironhack powered</p>

	<a href="/contact"></a>

	
</body>
</html>

